.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xcf
code/ny-alesund_cc_pf_rws.R
metadata/pangaea_parameters.tab
metadata/pg_EU_ref_meta.csv
metadata/globalfishingwatch_API_key.RData
metadata/is_gfw_database.RData
metadata/is_mst_database.RData
data/.*nc
data/PAR/*.nc
data/GLODAP_Arctic_carb_chem.csv
data/pg_data
data/model
data/full_data
data/restricted
data/MUR
data/sst_gland.RData
data/sst_sval.RData
data/sst_CCI_sval.RData
data/sst_trom.RData
data/sst_CCI_trom.RData
shiny/test_data
shiny/kongCTD/data/data_base.Rds
shiny/kongCTD/data/meta_data_base.Rds
shiny/dataAccess/full_data
shiny/dataAccess/coastline_hi_sub.csv
data/analyses/ice_4km_proc.RData
data/analyses/clean_all.RData
data/analyses/clean_all_clean.RData
presentations/*.html
.httr-oauth
