.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xcf
code/ny-alesund_cc_pf_rws.R
metadata/pangaea_parameters.tab
data/GLODAP_Arctic_carb_chem.csv
data/pg_data
data/model
data/full_data
data/restricted
data/sst_trom.RData
