/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Raleway", sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #7fad24 !default;
$selection-bg: rgba(0, 0, 0, 0.99);

// headings
$presentation-heading-font: "Raleway", sans-serif !default;
$presentation-heading-color: #4472c4 !default;
$presentation-h1-color: #4472c4 !default;
$presentation-h2-color: #008980 !default;

/*-- scss:rules --*/

.reveal .slide-logo {
  max-height: 6.0rem !important;
  bottom: 10px;
  right: 50px;
};

.rotate-img img {
  transform: rotate(315deg);
};
